<!DOCTYPE html>
<html>

<head>
  <title>Front Page</title>
  <link rel="stylesheet" href="/static/main.css"/>
</head>

<body>
  <header>
    <h1>Math App</h1>
  </header>

  <nav>
    <a href="/frontpage">Front Page</a>
    <a href="/">Log In</a>
    <a href="/logout">Log Out</a>
  </nav>

  <h2>Front Page</h2>

    <p>
    Welcome to the app!
    <p>
    {% if session.user_type == "teacher"  %}
    <form action="/add_course" method="POST">
      Add a new course: 
      <p>
        Course name: <br />
        <input type="text" name="name" maxlength="100" required>
      </p>
      <input type="submit" value="Add a new course">
    </form>

    <h3>My courses:</h3>
      <li>A course that this teacher has made</li>
      <li>This list should be able to be empty</li>
    {% endif %}

    {% if session.user_type == "student"  %}
    <h3>My courses:</h3>
      <li>A course that this student is enrolled in</li>
    {% endif %}

    <h3>Courses: (not links yet)</h3>
    {% for course in courses %}
      <li>{(course.name)}</li>
    {% endfor %}


    
</body>

</html>